.slider-container{
    height: 500px;
}

.img-slider{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

/**********IMMAGINI IN COLONNA**********/

.my-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


/*********BUTTONS**********/

.button-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my-t-btn{
    opacity: .7;
}



/********PUNTINI SLIDE**********/




.dots-container{
    height: 40px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: .2;
    display: inline-block;
    margin-left: .4rem;
    margin-right: .4rem;
}

.dot.active{
    opacity: 1;
}